<form method="post" action="/notes/save" autocomplete="off">
    <div class="container-fluid">
        {{#if docreate}}
            <input type='hidden' name='operation' value="create">
        {{else}}
            <input type='hidden' name='operation' value="update">
        {{/if}}
        {{#if note }}
            <input type='hidden' name='id' value='{{note._id}}'/>
        {{/if}}
        <div class="form-group row">
            <label for="title" class="col-1 col-form-label">Title</label>
            <div class="col">
                <input type="text" class="form-control" id='title' name='title' placeholder="Enter title"
                       value='{{#if note }}{{note.title}}{{/if}}'>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <textarea class="form-control text" placeholder="Enter text..."
                          name='text'>{{#if note }}{{note.text}}{{/if}}</textarea>
            </div>
        </div>
        {{#if note }}
            <button class="btn btn-outline-primary" role="button">Update</button>
        {{else}}
            <button class="btn btn-outline-primary" role="button">Save</button>
        {{/if}}
    </div>
</form>